@use '@angular/material' as mat;

.todo-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.todo-card {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;

  @include mat.elevation(8);
}

.todo-card-title {
  color: var(--todo-title-color);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2rem;
}

.input-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
  flex: 1;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .todo-form {
    flex-direction: column;
    align-items: stretch;
  }
}
