@use '@angular/material' as mat;

.todo-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.todo-card {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

mat-card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;

  background: linear-gradient(90deg, #673ab7, #ffc107);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2rem;
}

.input-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
  flex: 1;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .todo-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.theme-toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
