<h2>Todo List</h2>

<form [formGroup]="newTodoForm" (ngSubmit)="addTodo()">
  <mat-form-field class="example-full-width">
    <mat-label>Add a todo</mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Ex. Build a todo app"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Todo</button>
</form>

<form [formGroup]="todosFormGroup">
  <div *ngFor="let todoItemFormGroup of todosFormArray.controls">
    <app-todo-item
      [todoFormGroup]="todoItemFormGroup"
      (delete)="onDeleteTodo($event)"
    ></app-todo-item>
  </div>
</form>

<button
  mat-raised-button
  color="warn"
  *ngIf="hasCompletedTodos()"
  (click)="deleteAllCompleted()"
>
  Delete Completed Todos
</button>
