@use '@angular/material' as mat;

@include mat.core();

:root {
  --primary-color: #fff;
  --font-size: 14px;

  --todo-title-color: #{mat.get-color-from-palette($primary-palette)};
  --todo-item-border: #{mat.get-color-from-palette(mat.$grey-palette, 300)};
  --border-color: var(--todo-item-border);

  --todo-item-hover-bg: #{rgba(
      mat.get-color-from-palette($foreground-light-palette, base),
      0.03
    )};
}

$primary-palette: mat.define-palette(mat.$blue-palette, 600, 300, 800);
$accent-palette: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$warn-palette: mat.define-palette(mat.$red-palette);

$custom-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
      warn: $warn-palette,
    ),
  )
);

@include mat.all-component-themes($custom-light-theme);

$foreground-light-palette: map-get($custom-light-theme, foreground);
$foreground-dark-palette: map-get($custom-dark-theme, foreground);

.dark-theme {
  @include mat.all-component-colors($custom-dark-theme);

  --todo-item-border: #{mat.get-color-from-palette(mat.$grey-palette, 600)};
  --border-color: var(--todo-item-border);

  --todo-item-hover-bg: #{rgba(
      mat.get-color-from-palette($foreground-dark-palette, base),
      0.06
    )};
}
