@use 'styles/custom-theme.scss' as *;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @extend .mat-app-background;
}

* {
  box-sizing: border-box;
}
