@use 'styles/custom-theme.scss' as *;

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @extend .mat-app-background;
}

* {
  box-sizing: border-box;
}
